@model MeetingInfo
@{
    ViewBag.Title = "Apply";
    Layout = "_Layout2";
}
<h1>@ViewData["Selamlama"], @ViewData["Username"]</h1>
<h2>Let us know ur participant situation for meeting</h2>
<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">Meeting date : @Model.Date.ToString("dd/MM/yyy HH:mm:SS")</li>
        <li class="list-group-item">@Model.NumberOfPeople people will join.</li>
    </ul>
</div>
<a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn-outline-primary">Apply</a>